GOOGLE_API_KEY=GET IT FROM GEMINI / GOOGLE AI STUDIO, NOT FROM GOOGLE CLOUD CONSOLE
OPENAI_API_KEY=GET IT FROM OPENAI, (OPTIONAL) IF ANY MODEL USED IN THE GRAPH REQUIRES OPENAI KEY JUST CONVERT IT TO USE GOOGLE KEY IN THE LLM CONFIG
GOOGLE_GENAI_USE_VERTEXAI=0


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=GET IT FROM LANGSMITH
LANGSMITH_PROJECT=ANY NAME YOU LIKE, E.G. "MY TEST PROJECT"